body{
  background-color: red;
}

main{
  margin: 5rem;
  padding: 2rem;
  background-color: lightgray;
}


.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
 
}



.pokemon-card {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.hide {
  display: none;
}

.loading {
      font-size: 24px;
      text-align: center;
    }

